<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l9">
        <h5 class="white-text">About me!</h5>
        <p class="grey-text text-lighten-4">Chandra Deep Rathan K</p>
        <p class="grey-text text-lighten-4">
          I made this project in accordance to my IWP course.
        </p>
      </div>
      <div class="col s12 m4 l3">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li>
            <i class="fab fa-github"></i
            ><a
              class="grey-text text-lighten-4"
              href="https://github.com/kcdrathan/"
            >
              Github</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2022 Copyright kcdrathan
      <a class="grey-text text-lighten-4 right" href="#">Thanks</a>
    </div>
  </div>
</footer>
