.brand-logo {
  height: 90%;
}

.mynav,
body footer.page-footer {
  background-color: #4caf50;
}

.row {
  margin-bottom: 6px;
}

h3 {
  color: #5a9f0c;
}

div.card div.card-content {
  padding-bottom: 0.1em;
}
